* {
    box-sizing: border-box;
    
}

body {
    margin: 0px;
    background-color: #eec1ce;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*
NAVBAR
*/
.nav {
    background-color: white;
    color: #59141d;
    display: flex;
    align-items: center;
    border-bottom: white;
    border-width: 1px;
    border-bottom-style: solid;
    width: 100%;
    position: fixed;
}
.nav a {
    color: white;
    font-size: 24px;
    padding: 1rem;
    border-radius: 50px;
    background-color: #59141d;
}
.nav-links {
    margin: 1rem;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav-heading {
    background-color: #59141d;
    border-radius: 50px;
    padding-left: 2rem;
    padding-right: 3rem;
    color: white;
    font-size: 24px;
    margin: 10px;
}
.nav-heading1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
}
.nav-heading2 {
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-link {
    text-decoration: none;
}
.nav-item:hover {
    color: black;
}
.nav-routes {
    justify-content: flex-end;
    margin-left: auto;
}
.nav-info {
    font-size: 18px;
}

/*
HOME
*/
.home {
    align-items: center;
    display:inline-flex;
    justify-content: center;
    flex-wrap:wrap;
}
.inside {
    height: 407px;
    width: 793px;
    border: #59141d solid 5px;
}
.img {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
.description {
    color: white;
    font-size: 32px;
    text-align: center;
    background-color:#59141d;
    border-radius: 50px;
    margin-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
.social {
    color: white;
    text-decoration: none;
    font-style: bold;
}
.social:hover {
    text-decoration: underline;
}
/*
STYLISTS
*/
.stylists {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    padding-top: 150px;
}
.card {
    background: #59141d;
    padding-top: 25px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: black 1px solid;
    text-align: center;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.stylist_img {
    width: 80%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    align-items: center;
}
.stylist_name {
    font-size: 24px;
    color: white;
}
h1 {
    font-size: inherit;
}
.header {
    font-size: 48px;
    color: white;
    position: absolute;
    top: 125px;
    background-color:#59141d;
    border-radius: 50px;
    padding-right: 1rem;
    padding-left: 1rem;
    height: 75px;
    align-items: center;
    display: flex;
    justify-content: center;
}
/*
SERVICES
*/
table {
    background-color:#59141d;
    border-radius: 5%;
    color: white;
    padding: 1rem;
    font-size: 24px;
}
th {
    border-bottom: dashed white 3px;
    border-right: white solid 2px;
    padding-right: 1rem;
    padding-left: 1rem;
}
td {
    border-right: white solid 2px;
    gap: 1rem;
    padding-right: .5rem;
}
tr {
    padding-left: 1rem;
    padding-right: 1rem;
}
.price {
    text-align: right;
}
.service {
    padding-right: 1rem;
}
.tables {
    align-items: center;
    
}
.row1 {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 3rem;
    gap: 2rem;
}
.row2 {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.table-header {
    text-decoration: underline;
}
/*
BOOKING
*/